
<div class="signup-box">

	<div class="signup-title-container">
		<p class="title-text">FLAMEWARS</p>
		<p class="sub-title-text">'cause someones always wrong on the internet<p>
	</div>
	
	<% if flash[:alert] %>
		<div class="alert">
		  <%= flash[:alert] %>
		</div>
	<% end %>
	
	<%= form_for @user do |f| %>
	  <%= f.text_field :username, placeholder: "Username" %>
	  <%= f.password_field :password, placeholder: "Password" %>

	  <!--this will not be in params[:user] because it is not attached to the f
		  also note that I had to use the form_tag style helper here because I
		  am not attaching it to the object related form_for f -->

	  <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>

	  <%= f.submit "Sign Up" %>
	<% end %>

</div>