<article class="post">
    <p class='post-title'>
      <%= link_to post.title, post_path(post) %>
    </p>
    <p class='post-body'>
      <% if local_assigns.fetch(:truncate_post, false) %>
        <%= truncate post.body, length: 200 %>
      <% else %>
        <%= post.body %>
      <% end %>
    </p>
    <p class='post-attribution'>
      Posted by <%= post.user.username %>
      at <%= post.created_at %>
    </p>
 </article>
 
 
