<div class="site-wrapper">

	<div class="site-header">
	
		<div class="site-header-left">
			<p class="title-text">FLAMEWARS</p>
		</div>
		
		<div class="site-header-right">
			<p class="header-welcome-text"> Logged in as <%= current_user.username %> </p>
			<%= link_to("Log out", session_path(current_user.id), method: :delete, class:"logout-button")%>
		</div>
		
	</div>
	
	<div class="site-left-column">
	
		<a class="left-column-button" href="/posts/new">New Post</a>
		<a class="left-column-button" href="/posts">All Posts</a>
		
	</div>
	
	<div class="site-right-column">
		<div class="new-post-form">
			<p class="new-post-form-title"> Compose post  </p>
			<%= form_for @post do |f| %>
				<%= f.label :title %><br>
				<%= f.text_field :title, placeholder: "Post Title"  %><br>
				<%= f.label :body %><br>
				<%= f.text_area :body, :cols => "25", :rows => "5", placeholder: "Enter your post"   %><br>
				<%= f.submit "Publish" %>
			<% end %>
		</div>
	</div>
	
	<div class="site-footer">
		<p>Copyright 1971 - Pierre Cosmybladrzhempti</p>
	</div>
	
</div>