<div class="site-wrapper">

	<div class="site-header">
	
		<div class="site-header-left">
			<p class="title-text">FLAMEWARS</p>
		</div>
		
		<div class="site-header-right">
			<%= link_to("Log out", session_path(current_user.id), method: :delete, class:"logout-button")%>
		</div>
		
	</div>
	
	<div class="site-left-column">
	
		<a class="left-column-button" href="/posts/new">New Post</a>
		<a class="left-column-button" href="/posts">All Posts</a>
		
	</div>
	
	<div class="site-right-column">
		<div class="post-content">
			<%= render @post %>
			
			<p class="comments-title">Comments</p>
			
			<% @post.comments.each do |comment| %>
			  <div class="comment">
				<p class="comment-body"><%= comment.body %></p>
				<p class="comment-info">Posted by - <%= comment.user.username%> at <%= comment.created_at %></p>
			  </div>
			<% end %>

			<%= form_for Comment.new do |f| %>
			  <%= f.text_area :body, :cols => "15", :rows => "4", placeholder: "Enter a comment" %>
			  <%= f.hidden_field :post_id, value: @post.id %>
			  <%= f.submit :submit %>
			<% end %>

			
		</div>
	</div>
	
	<div class="site-footer">
		<p>Copyright 1971 - Pierre Cosmybladrzhempti</p>
	</div>
	
</div>